version: '3.9'

services:
  odoo:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: odoo17
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./odoo.conf:/etc/odoo/odoo.conf
      - odoo-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons:rw
    restart: always
  db:
    image: postgres:15
    container_name: odoo17-db
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
      POSTGRES_DB: odoo
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

volumes:
  odoo-data:
  db-data:
